<div class="row">
    <div class="col-xs-12">
        <button type="button" (click)="addNewRecipe()" class="btn btn-success">New Recipe</button>
        <form *ngIf="isShow==true" #simpleForm="ngForm" (ngSubmit)="submitrecipe(simpleForm.value)">
            <div class="col-sm-5 form-group w100">
                <label for="name">Recipe Name</label>
                <input ngModel type="text" name="name" placeholder="Recipe Details" class="form-control">
            </div>
            <div class="col-sm-2 form-group w100">
                <label for="description">Recipe description</label>
                <input ngModel type="text" name="description" class="form-control" placeholder="Recipe Description" >
            </div>
            <div class="col-sm-2 form-group w100">
                <label for="imagePath">Image URL</label>
                <input ngModel type="text" name="imagePath" class="form-control" placeholder="Recipe Description" >
            </div>
            <button class="btn btn-primary">Submit Recipe</button>
        </form>
    </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item
    *ngFor="let recipeEl of recipes"
    [recipe]="recipeEl"></app-recipe-item>
  </div>
</div>
